<header class="header">
  <h1>Remo Menu</h1>

  <button routerLink="/menu" id="menu-button">Menu</button>
</header>




<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

  <input
    formControlName="email"
    type="email"
    placeholder="Email"
    required>

  <input
    formControlName="password"
    type="password"
    placeholder="Password"
    required>

  <button type="submit" [disabled]="loginForm.invalid">Log In</button>
</form>

<p>{{ loginMessage }}</p>

<p>Don't have an account? <a routerLink="/signup">Sign up</a></p>








