
<header class="header">
  <h1>Remo Menu</h1>


</header>





<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">

  <input formControlName="firstName" type="text" placeholder="First Name" required>
  <input formControlName="lastName" type="text" placeholder="Last Name" required>
  <input formControlName="age" type="number" placeholder="Age" required>
  <input formControlName="email" type="email" placeholder="Email" required>
  <input formControlName="password" type="password" placeholder="Password" required>
  <input formControlName="address" type="text" placeholder="Address" required>
  <input formControlName="phone" type="text" placeholder="+9955xxxxxxxx" required>
  <input formControlName="zipcode" type="text" placeholder="Zipcode" required>
  <input formControlName="avatar" type="url" placeholder="Avatar URL" required>

  <select formControlName="gender" required>
    <option value="">Select Gender</option>
    <option value="MALE">Male</option>
    <option value="FEMALE">Female</option>
    <option value="OTHER">Other</option>
  </select>

  <button type="submit" [disabled]="signupForm.invalid">Sign Up</button>
</form>

<p>{{ signupMessage }}</p>



